:root {
    /* Overrides the border radius setting in the theme. */
    --ck-border-radius: 15px;

    /* Overrides the default font size in the theme. */
    --ck-font-size-base: 14px;

    /* Helper variables to avoid duplication in the colors. */
    --ck-custom-blue-light:  #30caf7;
    --ck-custom-blue-dark:   #3982a4;
    --ck-custom-orange:      #e59536;
    --ck-custom-green:       #488f80;
    --ck-custom-red:         #ee4b4d;

    --ck-custom-gray-light:  #eeeff0;
    --ck-custom-gray:        #c4c4c4;
    --ck-custom-gray-dark:   #4d4d4c;
    --ck-custom-black:       #212529;

    --ck-custom-border-radius: 15px;
    --ck-custom-border-color:    #ccc;
    --ck-custom-box-bg-primary:  #fbfbfb;
    --ck-custom-box-bg-secondary:#f5f5f5;

    /* -- Overrides generic colors. ------------------------------------------------------------- */

    --ck-color-base-foreground: var(--ck-custom-background);
    --ck-color-focus-border: var(--ck-custom-gray-light);
    --ck-color-text: var(--ck-custom-gray-dark);
    --ck-color-shadow-drop: 0;
    --ck-color-shadow-inner: 0;
    
    /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */
    --ck-color-tooltip-background: var(--ck-custom-gray-dark);
    --ck-color-tooltip-text: #fff;
}

.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
    border-color: var(--ck-custom-border-color);
}

/* textarea styles */
.ck.ck-editor__editable_inline {
    font-size: 18px;
    color: var(--ck-custom-gray-dark);
    font-family: Arial, Helvetica, sans-serif;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
    box-shadow: none;
    border-color: var(--ck-custom-blue-light);
}

/* toolbar buttons */
.ck-rounded-corners .ck.ck-button,
.ck-rounded-corners a.ck.ck-button,
.ck.ck-button.ck-rounded-corners,
a.ck.ck-button.ck-rounded-corners,
.ck-rounded-corners .ck.ck-splitbutton > .ck-splitbutton__action,
.ck.ck-splitbutton > .ck-splitbutton__action.ck-rounded-corners,
.ck-rounded-corners .ck.ck-splitbutton > .ck-splitbutton__arrow,
.ck.ck-splitbutton > .ck-splitbutton__arrow.ck-rounded-corners,
.ck-rounded-corners .ck.ck-tooltip .ck-tooltip__text,
.ck.ck-tooltip .ck-tooltip__text.ck-rounded-corners,
.ck-rounded-corners .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel .ck-list .ck-list__item:first-child .ck-button,
.ck-rounded-corners .ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel .ck-list .ck-list__item:last-child .ck-button {
    border-radius: 0;
}
.ck.ck-button.ck-on:not(.ck-disabled):hover,
a.ck.ck-button.ck-on:not(.ck-disabled):hover {
    border: 1px solid var(--ck-custom-border-color);
}
.ck.ck-button.ck-on:not(.ck-disabled):active,
a.ck.ck-button.ck-on:not(.ck-disabled):active {
    box-shadow: none;
}


.ck-rounded-corners .ck.ck-editor__top .ck-sticky-panel__content .ck-toolbar {
    padding: 9px;
    background-color: var(--ck-custom-box-bg-secondary);
}


/* link color */
.ck-editor__editable_inline a {
    color: var(--ck-custom-blue-light);
    text-decoration: none;
    cursor: pointer;
}
.ck-editor__editable_inline a:hover,
.ck-editor__editable_inline a:active,
.ck-editor__editable_inline a:focus,
.ck-editor__editable_inline .ck-link_selected:hover,
.ck-editor__editable_inline .ck-link_selected {    
    color: var(--ck-custom-blue-dark);
    background: none;
    text-decoration: underline;
}

/* Heading dropdown */
.ck.ck-dropdown.ck-heading-dropdown .ck-dropdown__panel .ck-list__item {
    min-width: 10em;
}
.ck-rounded-corners .ck.ck-heading-dropdown .ck-dropdown__panel .ck-list .ck-list__item .ck-button {
    color: var(--ck-custom-gray-dark);
    border-radius: 0;
    background: 0;
}
.ck-rounded-corners .ck.ck-heading-dropdown .ck-dropdown__panel .ck-list .ck-list__item .ck-button:hover,
.ck-dropdown__panel-visible .ck-list__item .ck-button:hover,
.ck-dropdown__panel-visible .ck-list__item .ck-button:hover:not(.ck-disabled),
.ck-dropdown__panel-visible .ck-button:not(.ck-disabled):hover,
.ck-dropdown__panel-visible a.ck-button:not(.ck-disabled):hover,
.ck-image-dropdown > .ck.ck-button.ck-on,
.ck-image-dropdown > .ck.ck-button:not(.ck-disabled):hover {
    border-radius: 0;
    background: var(--ck-custom-box-bg-secondary);
}
.ck-heading-dropdown .ck-dropdown__panel .ck.ck-button.ck-on:not(.ck-disabled):hover,
.ck-heading-dropdown .ck-dropdown__panel a.ck.ck-button.ck-on:not(.ck-disabled):hover {
    border: 0;
    border-radius: 0;
}

/* text color dropdown */
.ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel-visible {
    border-radius: 0;
}
.ck.ck-dropdown .ck-dropdown__panel.ck-dropdown__panel-visible .ck-toolbar {
    display: block;
    padding: 0;
    background: none;
}
.ck-dropdown__panel-visible .ck-button {
    display: block;
    width: 100%;
    text-align: left;
    margin: 0;
    border-top: 1px solid var(--ck-custom-border-color);
}
.ck-dropdown__panel-visible .ck-button:first-child,
.ck-dropdown__panel-visible .ck-button:first-child:hover {
    border-top: 0;
}
.ck-dropdown__panel-visible .ck-button .ck-button__label {
    display: inline-block;
}
.ck-dropdown__panel-visible .ck-button svg {
    margin-right: 5px;
}
.ck-dropdown__panel-visible .ck-toolbar__separator {
    display: none;
}
.pen-orange,
.pen-light-blue,
.pen-dark-blue,
.pen-green,
.pen-gray {
    background: none;
}
.pen-orange     { color: var(--ck-custom-orange); }
.pen-light-blue { color: var(--ck-custom-blue-light); }
.pen-dark-blue  { color: var(--ck-custom-blue-dark); }
.pen-green      { color: var(--ck-custom-green); }
.pen-gray       { color: var(--ck-custom-gray-dark); }

/* image dropdown */

.ck.ck-dropdown.ck-image-dropdown > .ck.ck-button .ck-button__icon {
    margin-left: 1px;
    margin-right: 0;
}
.ck.ck-dropdown.ck-image-dropdown > .ck.ck-button:hover {
    background-color: #e6e6e6;
}
.ck-image-dropdown .ck-button.ck-dropdown__button .ck-button__label,
.ck-image-dropdown .ck-dropdown__arrow {
    display: none;
}
.ck.ck-balloon-panel {
    background-color: var(--ck-custom-box-bg-secondary);
}
.ck.ck-balloon-panel[class*=arrow_n]:before {
    border-bottom-color: var(--ck-custom-border-color);
}
.ck.ck-balloon-panel[class*=arrow_n]:after,
.ck.ck-balloon-panel.ck-balloon-panel_arrow_nw:after {
    border-bottom-color: var(--ck-custom-box-bg-secondary);
}
.ck.ck-balloon-panel.ck-balloon-panel_arrow_s:after,
.ck.ck-balloon-panel.ck-toolbar-container[class*=arrow_s]:after {
    border-top-color: var(--ck-custom-box-bg-secondary);
}
.ck-balloon-panel .ck.ck-input-text,
.ck-balloon-panel .ck.ck-input-text:focus {
    box-shadow: none;
    border: 1px solid var(--ck-custom-border-color);
}