:root {
    /* Overrides the border radius setting in the theme. */
    --ck-border-radius: 15px;

    /* Overrides the default font size in the theme. */
    --ck-font-size-base: 14px;

    /* Helper variables to avoid duplication in the colors. */
    --ck-custom-blue-light:  #30caf7;
    --ck-custom-blue-dark:   #3982a4;
    --ck-custom-orange:      #e59536;
    --ck-custom-green:       #488f80;
    --ck-custom-red:         #ee4b4d;

    --ck-custom-gray-light:  #eeeff0;
    --ck-custom-gray:        #c4c4c4;
    --ck-custom-gray-dark:   #4d4d4c;
    --ck-custom-black:       #212529;

    --ck-custom-border-radius: 15px;
    --ck-custom-border-color:    #ccc;
    --ck-custom-box-bg-primary:  #fbfbfb;
    --ck-custom-box-bg-secondary:#f5f5f5;

    /* --ck-custom-background: hsl(270, 1%, 29%);
    --ck-custom-foreground: hsl(255, 3%, 18%);
    --ck-custom-border: hsl(300, 1%, 22%);
    --ck-custom-white: hsl(0, 0%, 100%); */

    /* -- Overrides generic colors. ------------------------------------------------------------- */

    --ck-color-base-foreground: var(--ck-custom-background);
    --ck-color-focus-border: var(--ck-custom-gray-light);
    --ck-color-text: var(--ck-custom-gray-dark);
    --ck-color-shadow-drop: 0;
    --ck-color-shadow-inner: 0;

    /* -- Overrides the default .ck-button class colors. ---------------------------------------- */

    /* --ck-color-button-default-background: var(--ck-custom-background);
    --ck-color-button-default-hover-background:var(--ck-custom-box-bg-primary);
    --ck-color-button-default-active-background: var(--ck-custom-box-bg-primary);
    --ck-color-button-default-active-shadow: 0;
    --ck-color-button-default-disabled-background: var(--ck-custom-background);

    --ck-color-button-on-background: var(--ck-custom-foreground);
    --ck-color-button-on-hover-background: var(--ck-custom-box-bg-primary);
    --ck-color-button-on-active-background: var(--ck-custom-box-bg-primary);
    --ck-color-button-on-active-shadow: 0;
    --ck-color-button-on-disabled-background: var(--ck-custom-foreground);

    --ck-color-button-action-background: hsl(168, 76%, 42%);
    --ck-color-button-action-hover-background: hsl(168, 76%, 38%);
    --ck-color-button-action-active-background: hsl(168, 76%, 36%);
    --ck-color-button-action-active-shadow: 0;
    --ck-color-button-action-disabled-background: hsl(168, 76%, 42%);
    --ck-color-button-action-text: var(--ck-custom-box-bg-primary);

    --ck-color-button-save: hsl(120, 100%, 46%);
    --ck-color-button-cancel: hsl(15, 100%, 56%); */

    /* -- Overrides the default .ck-dropdown class colors. -------------------------------------- */

    /* --ck-color-dropdown-panel-background: var(--ck-custom-background);
    --ck-color-dropdown-panel-border: var(--ck-custom-foreground); */

    /* -- Overrides the default .ck-input class colors. ----------------------------------------- */

    /* --ck-color-input-background: var(--ck-custom-foreground);
    --ck-color-input-border: hsl(257, 3%, 43%);
    --ck-color-input-text: hsl(0, 0%, 98%);
    --ck-color-input-disabled-background: hsl(255, 4%, 21%);
    --ck-color-input-disabled-border: hsl(250, 3%, 38%);
    --ck-color-input-disabled-text: hsl(0, 0%, 46%); */

    /* -- Overrides the default .ck-list class colors. ------------------------------------------ */

    /* --ck-color-list-background: var(--ck-custom-background);
    --ck-color-list-button-hover-background: var(--ck-color-base-foreground);
    --ck-color-list-button-on-background: var(--ck-color-base-active);
    --ck-color-list-button-on-background-focus: var(--ck-color-base-active-focus);
    --ck-color-list-button-on-text: var(--ck-color-base-background); */

    /* -- Overrides the default .ck-balloon-panel class colors. --------------------------------- */

    /* --ck-color-panel-background: var(--ck-custom-background);
    --ck-color-panel-border: var(--ck-custom-border-color); */

    /* -- Overrides the default .ck-toolbar class colors. --------------------------------------- */

    /* --ck-color-toolbar-background: var(--ck-custom-box-bg-secondary);
    --ck-color-toolbar-border: #fff; */

    

    /* -- Overrides the default colors used by the ckeditor5-image package. --------------------- */

    /* --ck-color-image-caption-background: hsl(0, 0%, 97%);
    --ck-color-image-caption-text: hsl(0, 0%, 20%); */

    /* -- Overrides the default colors used by the ckeditor5-widget package. -------------------- */

    /* --ck-color-widget-blurred-border: hsl(0, 0%, 87%);
    --ck-color-widget-hover-border: hsl(43, 100%, 68%);
    --ck-color-widget-editable-focus-background: var(--ck-custom-box-bg-primary); */

    /* -- Overrides the default colors used by the ckeditor5-link package. ---------------------- */

    /* --ck-color-link-default: hsl(190, 100%, 75%); */



    /* -- Overrides the default .ck-tooltip class colors. --------------------------------------- */
    --ck-color-tooltip-background: var(--ck-custom-gray-dark);
    --ck-color-tooltip-text: #fff;
}


.ck-rounded-corners .ck.ck-button,
.ck-rounded-corners a.ck.ck-button,
.ck.ck-button.ck-rounded-corners,
a.ck.ck-button.ck-rounded-corners,
.ck-rounded-corners .ck.ck-splitbutton > .ck-splitbutton__action,
.ck.ck-splitbutton > .ck-splitbutton__action.ck-rounded-corners,
.ck-rounded-corners .ck.ck-splitbutton > .ck-splitbutton__arrow,
.ck.ck-splitbutton > .ck-splitbutton__arrow.ck-rounded-corners,
.ck-rounded-corners .ck.ck-tooltip .ck-tooltip__text,
.ck.ck-tooltip .ck-tooltip__text.ck-rounded-corners {
    border-radius: 0;
}
.ck.ck-button.ck-on:not(.ck-disabled):hover,
a.ck.ck-button.ck-on:not(.ck-disabled):hover {
    border: 1px solid #ccc;
}
.ck.ck-button.ck-on:not(.ck-disabled):active,
a.ck.ck-button.ck-on:not(.ck-disabled):active {
    box-shadow: none;
}
.ck.ck-editor__editable:not(.ck-editor__nested-editable).ck-focused {
    box-shadow: none;
}